{% extends 'starter.html' %}
{% load mytags %}
{% block title %}
    <h1 class="m-0 text-dark">客户信息</h1>
{% endblock %}

{% block content %}
    <div>
        <form action="" method="get" style="height: 30px;margin-bottom: -30px" class="">
            {#            {% csrf_token %}#}
            <select name="search" id="search" class="pull-left" style="height: 100%">
                <option value="name__contains">姓名</option>
                <option value="qq__contains">QQ</option>
            </select>
            <input type="text" id="search_content" name="search_content" class="pull-left" style="height: 100%">
            <input type="submit" id="sub_search" class="pull-left" style="height: 100%" value="搜索">
        </form>
        {% if tag == 1 %}
            <a href="http://127.0.0.1:8000/add_customer">
                <button class="btn btn-danger pull-right" style="margin-bottom: 10px">添加客户</button>
            </a>
        {% endif %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <span class="pull-right" style="height: 30px;margin-bottom: -30px;margin-right: 20px">
        <select name="action" id="action" class="pull-left" style="height: 100%">
            {% if tag == 1 %}
                <option value="trans_gts">公转私</option>
            {% else %}
                <option value="trans_stg">私转公</option>

            {% endif %}
            <option value="bulk_del">批量删除</option>

        </select>
        <input type="submit" id="sub_search" class="pull-left" style="height: 100%" value="执行">
    </span>
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>全选/取消<input type="checkbox" id="all"></th>
                <th>序号</th>
                <th>姓名</th>
                <th>QQ</th>
                <th>性别</th>
                <th>询问课程</th>
                <th>状态</th>
                {% if tag == 2 %}
                    <th>跟进记录</th>

                {% endif %}
                <th>客户来源</th>
                <th>销售人员</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for i in customer_all %}
                <tr>
                    <td><input type="checkbox" name="choice" value="{{ i.id }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.qq }}</td>
                    <td>{{ i.get_sex_display }}</td>
                    <td>{{ i.get_course_display }}</td>
                    <td>{{ i.get_status_display }}</td>
                    {% if tag == 2 %}
                        <td><a href="{% url 'consult_record_one' i.id %}">查看记录</a></td>

                    {% endif %}
                    <td>{{ i.get_source_display }}</td>
                    <td>{{ i.consultant.username|default:"暂无" }}</td>
                    <td style="text-align: center">
                        <a href="{% url_handle 'edit_customer' i.id request %}" title="编辑">
                            {#                        <a href="http://127.0.0.1:8000/edit_customer/{{ i.id }}" title="编辑">#}
                            <li class="fa fa-pencil"></li>
                        </a>
                        &nbsp|&nbsp
                            <a href="{% url_handle 'del_customer' i.id request %}" title="删除">
                        <li class="fa fa-remove"></li></td>
                    </a>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </form>
    {{ html|safe }}
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $('#all').click(function () {
            console.log($(this).prop('checked'))
            if ($(this).prop('checked')) {
                $('[type=checkbox]').prop('checked', true)
            } else {
                $('[type=checkbox]').prop('checked', false)

            }
        })
    </script>

{% endblock %}